<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="EnvDTE" version="16.7.30328.74" />
	<package id="libsodium-net" version="0.10.0" />
	<package id="Newtonsoft.Json" version="12.0.3" />
	<package id="Snowplow.Tracker" version="1.0.2" />
	<package id="StreamJsonRpc" version="2.5.46" />
	<package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.23" />
	<package id="Microsoft.VisualStudio.Utilities" version="16.7.30329.38" />
	<package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.7.54" />
	<package id="Microsoft.VisualStudio.Shell.Framework" version="16.7.30329.88" />
	<package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.7.9" />
	<package id="Microsoft.VisualStudio.SDK" version="16.0.206" />
	<package id="Microsoft.VisualStudio.OLE.Interop" version="16.7.30328.74" />
</packages>